<!Doctype html>
<html lang="en">
  <head>
    <title>Membership</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1> Join Kojobs </h1>

    <h2> Kojobs UW Member Application </h2>

    <h2> Membership fee : $25 </h2>

    <p> Student Number <br>
      <textarea rows="1" cols="7" > </textarea>
    </p>

    <p> Name(Korean) <br>
      <textarea rows="1" cols="3"> </textarea>
    </p>

    <p> Name(English) <br>
      <textarea rows="1" cols="20"></textarea>
    </p>

    <div>
      <p> Year </p>
      <input type="radio" name="year" value="freshmen" >freshman<br>
      <input type="radio" name="year" value="sophomore">sophomore<br>
      <input type="radio" name="year" value="junior">junior<br>
      <input type="radio" name="year" value="senior">senior<br>
    </div>

    <p> Major / Minor (Indicate if not decided yet) <br>
      <textarea rows="2" cols="20"></textarea>
    </p>
    <p> Date of Birth (YYYY/MM/DD) <br>
      <textarea rows="1" cols="20"></textarea>
    </p>

    <p> E-mail <br>
      <textarea rwos="1" cols="20"></textarea>
    </p>

    <div>
      <p> What kind of information do you expect to gain from Kojobs UW? </p>
      <input type="radio" name="expectation" value="Networking" >Networking<br>
      <input type="radio" name="expectation" value="OPT/CPT Information">OPT/CPT Information<br>
      <input type="radio" name="expectation" value="Resume Workshop">Resume Workshop<br>
      <input type="radio" name="expectation" value="Job Opportunities">Job Opportunities<br>
    </div>

    <div>
      <p> Are you interested in becoming an officer at Kojobs UW? </p>
      <input type="radio" name="officer" value="Yes">Yes<br>
      <input type="radio" name="officer" value="No">No<br>
      <input type="radio" name="officer" value="Maybe">Maybe<br>
    </div>

    <div>
      <p>Have you heard of Kojobs in prior to applying for the membership? If so, how did you get to know it? (If not, check "No") * </p>
      <input type="radio" name="where" value="No">No<br>
      <input type="radio" name="where" value="Facebook">Facebook<br>
      <input type="radio" name="where" value="Friends">Friends<br>
      <input type="radio" name="where" value="Kojobs events">Kojobs events<br>
      <input type="radio" name="where" value="other">other:
        <textarea rows="1" cols="20"></textarea><br>
    </div>

    <div>
      <p> Choose a payment option (Officer only) </p>
      <input type="radio" name="payment" value="Venmo">Venmo<br>
      <input type="radio" name="payment" value="Cash">Cash<br>
      <input type="radio" name="payment" value="Later">Later<br>
    </div>
    <br>
    <button type="submit" form="form1" value="Submit">Submit</button>

</html>
